* {
    margin: 0px; 
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
head {
    display: none;
}
/*menu principal*/
body{ 
    font-style: normal; 
    position: relative;
    background-image: linear-gradient(rgb(98, 159, 36), rgb(145, 144, 144));
    width: 100%;
}
/*header*/
header {
    background-image: linear-gradient(to right, dimgray, rgba(255, 255, 255, 0.91)); 
    border: 0px;
    color: aliceblue; 
    height: auto;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding-left: 10px;
}
header .container-fluid{
    padding-left: 0%;
}
header h3{
    color: rgb(125, 122, 122);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5px;
    margin: 0px;
    padding-bottom: 0px;
}
#header h1{
    font-size: 4.5rem;
}
#header .menu .slogan {
    text-align: center;
    display: flex;
    justify-content: right;  
}
#header .menu p {
    box-shadow: inset;
    border-style: ridge; 
    border-radius: 25px;
    background-color: darkgray;         
    border-color: ghostwhite;
    padding: 5px;
    margin-bottom: 0%;
    width: fit-content;
}
/*main*/
main{
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .cuadroTexto{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    justify-content: center; 
    width: 30rem; 
    height: auto;
    text-decoration: double;
    margin-top: 30px;
}
main .cuadroTexto .div {
    text-align: center;
    align-content: center;
}
main .cuadroTexto .frase2 {
    margin-top: 5px;
}
@media screen and (min-width: 700px) {
    #carouselExampleSlidesOnly {
        width: 50%;
    }
}
/* Quien soy */
#cuerpo {
    display: flex; 
    box-sizing: border-box;
    flex-flow: row wrap;
    align-items: center;
}
#cuerpo .imagen2pagina img {
    width: 100%;
    border-radius: 30px;
}
#cuerpo .cuerpo1,.texto2 {
    /*width: auto;
    height: auto; */
    font-size: 25px; 
    color: darkslategray;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
#cuerpo .cuerpo1 .texto1 {
    padding-left: 0.5rem;  
} 
#cuerpo .texto2 
{
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 0.5rem;
}
#cuerpo .texto3 
{
    text-align: center; 
    font-weight: bolder;
    grid-template-columns: 2fr;
}
.nombre {
    font-weight: bold;/*negrita*/
} 
@media screen and (min-width: 800px){
    .imagen2pagina{
        width: 50%;
    }
    .texto2, .cuerpo1{
        width: 50%;   
    }
    #cuerpo{
        align-items: flex-start;
    }
    .cuerpo1{
        min-height: min-content;
    }
}
@media screen and (min-width: 900px) {
    .texto1, .texto2{
        font-size: 30px;
    }
}
@media screen and (min-width: 999px){
    .cuerpo1{
        width: 50%!important ; 
    }
    
}
/*Hoja Nutricion*/
#cuerpoNutricion .textoNutricion {
    text-align: center;
    padding: 5%;
    margin-bottom: 0px;
    font-weight: bolder
}
@media screen and (min-width: 795px){
    #cuerpoNutricion .textoNutricion {
        font-size: 150%;  
        padding: 2%; 
    }   
    #cuerpoNutricion .imagen3pagina {
        width: 70%;
        height: auto;
        align-items: center;
        justify-content: right;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
footer p{
    margin-bottom: 0px;
}
/*Entrenamiento*/
#principalEntrenamiento {
    background-image: url("../imagenes/imagen 4.png");
    width: 100%;
    height: 39.5rem;
    background-size: cover;
    display: flex;
    align-items: stretch;
}
#principalEntrenamiento .textoEntrenamiento p {
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    text-decoration: double;
    padding-left: 2%;
    padding-top: 2%;
    background-color: floralwhite;
    opacity: 0.5;
    height: min-content;
    margin-top: 2%;
}
#principalEntrenamiento .textoEntrenamiento .texto2 {
    margin-bottom: 0%;
    align-items: baseline;
    align-content: flex-end;
}
@media screen and (min-width:900px) {
    #principalEntrenamiento .textoEntrenamiento p {
        width: 80%;
        font-size: 2.5rem;
    }    
}
/*Contacto*/
#contactoBox form {
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.circulos {
    display: inline-flex;
    display: grid;
    grid-template-columns: 20% 80%;
}
#whatsapp {
    width: min-content;
    position: fixed;
    right: 0;
    z-index: 99;
    margin-right: 10%;
}
#whatsapp img {
    width: 60%;
    position: relative;
    left: 15%;
}
#whatsapp h3{
    font-size: 80%;
}
@media screen and (min-width: 680px) {
    #contactoBox form {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        padding-left: 8%;
        padding-right: 8%;
    }
    #whatsapp img {
        width: 80%;  
    }
    #whatsapp h3{
        font-size: 100%;
    }
}
/*footer*/
footer {
    color: aliceblue; 
    font-size: 15px; 
    padding-left: 5px; 
    background-color: rgb(105, 105, 105); 
}
