* {
    margin: 0px; 
    margin-left: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
}
head {
    display: none;
}
/*menu principal*/
body{ 
    font-style: normal; 
    position: relative;
    background-image: linear-gradient(rgb(140, 244, 36), dimgray);
    width: 100%;
}
/*header*/
header {
    background-image: linear-gradient(to right, dimgray, rgba(255, 255, 255, 0.91)); 
    border: 0px;
    color: aliceblue; 
    height: auto;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding-left: 10px;
}
header h3{
    color: rgb(125, 122, 122);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5px;
}
#header h1{
    font-size: 4.5rem;
}
#header .menu h3 {
    margin: 0px;
    padding-bottom: 0px;
}
#header .menu .slogan {
    text-align: center;
    display: flex;
    justify-content: right;  
}
#header .menu p {
    box-shadow: inset;
    border-style: ridge; 
    border-radius: 25px;
    background-color: darkgray;         
    border-color: ghostwhite;
    padding: 5px;
    margin-bottom: 0%;
    width: fit-content;
}
/*main*/
main {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .cuadroTexto{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    justify-content: center; 
    width: 25rem; 
    height: auto;
    text-decoration: double;
    margin-top: 30px;
}
main .cuadroTexto .div {
    text-align: center center;
    align-content: center
}
main .cuadroTexto .frase2 {
    margin-top: 5px;
}
@media screen and (min-width: 700px) {
    #carouselExampleSlidesOnly {
        width: 50%;
    }
}

/* main hoja quien soy */
#cuerpo {
    display: flex; 
    box-sizing: border-box;
    flex-flow: row wrap;

}
#cuerpo .imagen2pagina img {
    width: 100%;
    border-radius: 30px;
}
#cuerpo .cuerpo1 {
    width: auto; 
    height: auto; 
    font-size: 25px; 
    color: darkslategray;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
#cuerpo .cuerpo1 .texto1 {
   padding-left: 0.5rem;  
} 
#cuerpo .cuerpo1 .texto2 
{
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 0.5rem;
}
#cuerpo .cuerpo1 .texto3 
{
    text-align: center; 
    font-weight: bolder;
    grid-template-columns: 2fr;
}
/*Hoja Nutricion main*/
#cuerpoNutricion .textoNutricion {
    text-align: center;
    padding: 5%;
    margin-bottom: 0px;
    font-weight: bolder
}
@media screen and (min-width: 795px){
    #cuerpoNutricion .textoNutricion {
        font-size: 150%;  
        padding: 2%; 
    }   
    #cuerpoNutricion .imagen3pagina {
        width: 70%;
        height: auto;
        align-items: center;
        justify-content: right;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
footer p{
    margin-bottom: 0px;
}

/*#principalEntrenamiento {display: inline-flex;}
#principalEntrenamiento .fotoEntrenamiento {
    width: 900px; 
    height: 400px; 
}
#principalEntrenamiento .textoEntrenamiento {
    text-align: center; 
    font-size: 30px; 
    text-decoration: solid; 
    color: grey; 
    padding-top: 90px; 
    font-weight: bold;
}
#principalEntrenamiento .textoEntrenamiento .texto2 { 
    padding-top: 20px;}
/*Contacto
#contactoBox {width: 40%; padding-left: 20px; display: inline-flex;}
#contactoBox .botonEnviar {padding-top: 30px;}
#contactoBox, .nombreApellido, .ciudad, .telefono, .mail, .encuesta, .noEntrena {padding-top: 10px; padding-bottom: 10px; font-weight: bold;} 
#whatsapp {height: 200px; width: auto; text-align: right;}
#whatsapp img {height: 50px; width: auto;padding: 30px; padding-bottom: 10px; }*/
/*footer*/
footer {
    color: aliceblue; 
    font-size: 15px; 
    padding-left: 5px; 
    background-color: dimgray; 
}